/* Sobre Mí */
#title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    border-bottom: 1px solid #ccc;
}

#title h2{
    font-size: 20px;
    color: gray;
    margin: 5 0 5 0 ;
}

article.about{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}