<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam quis quam a bibendum. Ut libero turpis, venenatis id vulputate nec, rutrum ut erat. Aliquam varius metus dictum, auctor magna faucibus, porttitor orci. Phasellus ut consectetur neque, et tincidunt libero. Donec ac molestie felis. Cras ultricies sollicitudin blandit. Praesent pretium dapibus enim eu tristique. Sed rutrum nisl nunc, eu pellentesque velit efficitur quis. Fusce lectus enim, vulputate quis mi ac, ultricies lobortis lectus. Curabitur ornare risus non libero tempor porta. Quisque tristique in urna vitae efficitur. In laoreet pharetra neque feugiat malesuada. Vivamus sem nulla, lobortis vitae tempus eu, feugiat ut tellus. Suspendisse potenti. Donec quis augue ut lorem congue faucibus.
    </p>
</article>