#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2{
    Text-align: center;
    margin-bottom: 20px;
}

.project{
    list-style: none;
    display: inline-block;
    width: 25%;
    margin: 25px 0 25px 50px;
}

.project .image{
    width: 100%;
    height: 100%;
    overflow: hidden; 
    
}

.project img{
    width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}


