<header>
        <ul>
            <li><a [routerLink]="['/sobre-nosotros']" [routerLinkActive]="['actived']">Sobre Nosotros</a></li>
            <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
            <li id="logo"><a href="#">ARN</a></li>
            <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
            <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
        </ul>
        
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<section id="footer">
    <p>Master JavaScript&copy;</p>
</section>