:root {
    --app-background-color: #fefefe;
    --app-background-secondary-color: #fafafa;
    --app-border-color: #000;
    --app-shadow-color: #d2effd;
    --app-selection-color: #6cd0ff;
    --app-background:
    radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px,#fefefe 0);
}




/* Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
}

body{ 
    background-color: var(--app-background-color);
    background-image: var(--app-background);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    color: var(--text-base-color);
    background-attachment: fixed;
 }

/* ClearFix */
.clearfix{
    float: none;
    clear: both;
}


/* Barra de Navegación */

header{
	display: block;
	width: 100%;
	height: 75px;
	background: rgba(53, 103, 164, 0.8);
	position: fixed;
	text-transform: uppercase;
}

header ul{
	display: block;
	width: 50%;
	height: inherit;
	margin: 0px auto;
	margin-top: -3px;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 73px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms;
    
}	

header a:hover,
.actived{
	background: rgba(0,0,0,0.8);
}


/* Logotipo */

#logo{
    font-family: 'Roboto', cursive;
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}

#logo a:hover{
    background: transparent;
    color: black;
    transform:scale(1.50,1.50)
}


/* Contenedor Principal */

#content{
    min-height: 700px;
    height: auto;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255,255,255,0.7);
    padding-top: 120px;
    border-left:2px solid #b7b7b7 ;
    
}

/* Pie de Página */

#footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0,0,0,0.5);
}